.artist {
    text-align: center;
    &-link,
    &-img,
    &-img > img {
        width: 100%;
    }

    &-link {
    }
    &-img {
        border-radius: 50%;
        overflow: hidden;
        img {
            transition: all 0.5s;
        }
        &:hover img {
            transform: scale(1.2);
        }
    }
    &-name {
        margin-top: 16px;
        font-weight: 500;
        font-size: 1.4rem;
        margin-bottom: 4px;
        &__link {
            &:hover {
                text-decoration: underline;
                color: var(--purple-primary);
            }
        }
    }
    &-follow {
        font-size: 1.2rem;
        font-weight: 300;
        color: var(--text-secondary);
    }
    &-action {
        margin: 16px 0;
    }
    &-btn {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin: auto;
        padding: 6px 18px;
        border-radius: 24px;
        border-color: var(--border-primary);
        background-color: var(--second-bg);
    }
}
