@use "../../../scss/media-queries.scss" as *;

@mixin dfCenter {
    display: flex;
    align-items: center;
}

.wrapper {
    @include dfCenter;
    height: var(--player-height);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--player-bg);
    padding: 0 24px;
    z-index: 11;
}
.song-info {
    // flex: 1;
    @include dfCenter;

    height: 100%;
    &__img {
        width: 64px;
        height: 64px;
        object-fit: cover;
        border-radius: 8px;
    }

    &__body {
        margin-left: 8px;
    }
}

.title-wrapper {
    position: relative;
    overflow: hidden;
    width: 155px;
    height: 20px;
    @include lt-lg {
        width: 120px;
    }
}

.title-wrapper.animationText .title-link span {
    animation: marquee 5s linear infinite;
    padding-left: 100%;
}
.title-link {
    position: absolute;
    display: block;
    // margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    span {
        display: inline-block;
        white-space: nowrap;
        min-width: 100%;
        height: 100%;
    }
}
.title-link.title-link--second span {
    animation-delay: 2s;
}
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

.artists {
    &-name {
        font-size: 1.4rem;
        font-weight: 400;
        &:hover {
            text-decoration: underline;
            color: var(--purple-primary);
        }
    }
    &-name ~ &-name {
        margin-left: 4px;
    }
}

.song-control {
    flex-grow: 2;
    &__top {
        justify-content: center;
        @include dfCenter;
    }

    &__bottom {
        @include dfCenter;
        margin-top: 8px;
        padding: 0 var(--padding-content);
        @include lt-md {
            display: none;
        }
    }

    &__btn {
        color: var(--text-primary);
        &:active {
            background-color: var(--purple-primary);
            color: var(--white);
        }
    }
    .active {
        color: var(--purple-primary);
    }
}

.control-range {
    flex: 1;
    @include dfCenter;
    input {
        width: 100%;
    }
}

//song actions
.song-actions {
    @include dfCenter;
    // flex: 1;
    @include mobile {
        display: none;
    }

    &--active {
        background-color: var(--purple-primary);
        color: var(--white);
    }
}
.song-actions__volume {
    display: flex;
    margin-left: 6px;
    @include lt-md {
        &:hover .control-range.control-range--volume {
            display: flex;
        }
    }
}
.control-range.control-range--volume {
    padding: 8px 2px;
    @include lt-md {
        border-radius: 12px;
        background-color: var(--second-bg);
        display: none;
        position: absolute;
        top: -20px;
        right: 20px;
    }
}
.control-range.control-range--volume::before {
    @include lt-md {
        display: block;
    }
    position: absolute;
    content: "";
    display: none;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 20px;
}

// actions btn
.song-control__btn.isRepeat,
.song-control__btn.isRandom {
    color: var(--purple-primary) !important;
}
