@mixin lineClamp($number) {
    display: -webkit-box;
    -webkit-line-clamp: $number;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card {
    padding: 12px 0;
    &-link {
    }

    &-body {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
    }

    &-title {
        @include lineClamp(1);

        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 8px;
        &:hover {
            color: var(--purple-primary);
        }
    }
    &-subtitle {
        @include lineClamp(2);
        font-size: 1.4rem;
    }

    &-artists {
        @include lineClamp(2);
    }
    &-artist__name {
        font-size: 1.2rem;
        &:hover {
            color: var(--purple-primary);
            text-decoration: underline;
        }
    }
    &-artist__name ~ &-artist__name {
        margin-left: 4px;
    }
}
