@use "../../../scss/media-queries.scss" as *;
@mixin dfCenter {
    display: flex;
    align-items: center;
}

.media.small {
    padding: 10px;
}
.media.medium {
    padding: 12px;
}

.media.hasBorderBot {
    border-bottom-color: var(--purple-primary);
}

.media {
    @include dfCenter;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 8px;
    &-left {
        flex: 1;
        width: 50%;
        @include dfCenter;
    }

    &-center {
        flex: 1;
        @include lt-lg {
            flex-grow: 0;
        }
    }
    &:hover .thumb-control {
        display: flex;
    }
    &:hover .thumb-actions {
        transform: translateX(-12px);
    }
    &:hover {
        background-color: var(--second-bg);
    }

    &:hover .thumb-img.thumb-album {
        transform: rotate(120deg);
    }
    &-right {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;
    }
}

//left

.rank {
    @include dfCenter;
    &-number {
        -webkit-text-stroke: 1px var(--text-primary);
        font-size: 3rem;
        font-weight: 700;
        color: transparent;
        min-width: 60px;
        text-align: center;
    }
    &-sort {
        margin-left: 4px;
    }

    &-number--1 {
        -webkit-text-stroke: 1px var(--blue);
    }
    &-number--2 {
        -webkit-text-stroke: 1px var(--green);
    }
    &-number--3 {
        -webkit-text-stroke: 1px var(--red);
    }
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &-name {
        cursor: default;
        font-weight: 500;
    }
    &-artists {
        overflow: hidden;
    }
    &-artists__name {
        font-size: 1.3rem;
        &:hover {
            text-decoration: underline;
            color: var(--purple-primary);
        }
    }
    &-artists__icon {
        font-size: 1.2rem;
    }
    &-name,
    &-artists__name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.info-artists__name ~ .info-artists__name {
    margin-left: 4px;
}

//thumb
.media.smallSizeImg {
    .thumb {
        .thumb-img.thumb-song {
            width: 40px;
            height: 40px;
        }
    }
}
.thumb {
    margin: 0 15px;
    position: relative;
    &-img {
        overflow: hidden;
        cursor: pointer;
    }
    img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
    }

    .thumb-img.thumb-song {
        width: 60px;
        height: 60px;
    }
    .thumb-img.thumb-album {
        width: 80px;
        height: 80px;
        transition: all 0.3s;
    }

    // .thumb-img--full.thumb-img {
    //     width: 100%;
    //     height: 100%;
    // }

    &-control {
        position: absolute;
        inset: 0;
        cursor: pointer;
        display: none;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.2);
    }

    &-actions {
        transition: all 0.4s;
        position: absolute;
        width: 87px;
        height: 87px;
        left: -12px;
        top: -4px;
    }
}
//center

.song-name {
    text-align: left;
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    @include lt-lg {
        display: none;
    }
}

//right

.media:hover .media-right .media-right__time {
    display: none;
}

.media:hover .media-right .media-right__action {
    display: flex;
}
.media-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &__time {
        font-size: 1.4rem;
    }

    &__action {
        display: none;
    }
}
