@mixin dfCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin FadeIn {
    animation: fadeIn 0.3s linear;
}

@mixin ShowFromRight {
    animation: showFromRight 0.3s linear;
}

@mixin FadeOut {
    animation: fadeOut 0.3s linear forwards;
}

.wrapper.fromRight {
    top: 0;
    right: 0;
}

.wrapper {
    position: fixed;

    height: calc(100% - var(--player-height));
    z-index: 999;
    display: flex;
}

// .wrapper.closesing .overlay {
//     @include FadeOut;
// }

// .wrapper.closesing .container {
//     @include FadeOut;
// }

.wrapper.fromRight .container {
    @include ShowFromRight;
}

// .overlay {
//     position: fixed;
//     inset: 0;
//     background-color: rgba($color: #000, $alpha: 0.5);
//     @include FadeIn;
// }

.container {
    position: relative;
    min-width: 400px;
    height: 100%;
    background-color: #fff;
    padding: 48px;
    box-shadow: 3px 0 2px rgba(0, 0, 0, 0.3);
    @include FadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes showFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
