@mixin dfCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin FadeIn {
    animation: fadeIn 0.3s linear 1;
}

@mixin ShowFromBottom {
    animation: showFromBottom 0.3s linear 1;
}

@mixin FadeOut {
    animation: fadeOut 0.3s linear forwards;
}

@mixin CloseToBottom {
    animation: closeToBottom 0.3s linear 1forwards;
}

.wrapper {
    position: fixed;
    z-index: 999;
    display: flex;
    inset: 0;
}

.wrapper.closesing {
    .container {
        @include FadeOut;
        @include CloseToBottom;
    }
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    // background-color: rgba(0, 0, 0, 0.5);
    background-color: #1e1e1e;
    // filter: blur(1rem);
    @include FadeIn;
    @include ShowFromBottom;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes showFromBottom {
    from {
        transform: translate(0, 100%);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes closeToBottom {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 100%);
    }
}
