@use "../../../scss/media-queries.scss" as *;
.slider-container {
    position: relative;
    background-color: transparent;
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: 16px 0;
    margin-bottom: 24px;
    @include mobile {
        padding: 8px 0;
    }
}

.slider-item {
    padding: 0 15px;
    &__link {
        border-radius: 12px;
        overflow: hidden;
        display: block;
    }

    &__image {
        width: 100%;
        object-fit: cover;
    }
    @include mobile {
        padding: 0;
    }
}
