@use "../../scss/media-queries.scss" as *;

.detail {
    margin-bottom: 32px;

    &-left {
        float: left;
        width: 300px;
        height: 100%;
    }

    &-right {
        margin-left: 330px;
    }
}

.detail {
    @include max-mobile-max-pc-low {
        display: flex;
        flex-direction: column;
    }
}

.detail-left {
    &__thumb.isPlay {
        border-radius: 50%;
        overflow: hidden;
        animation: spinner 3s linear infinite;
    }

    &__thumb {
        transition: all 0.2s;
        flex-shrink: 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.detail-left {
    @include max-mobile-max-pc-low {
        display: flex;
        width: 100%;
        &__thumb {
            width: 200px;
            height: 200px;
            margin-right: 20px;
        }
    }

    @include mobile {
        width: 100%;
        margin-bottom: 24px;
        &__thumb {
            margin: auto;
            width: 400px;
            height: 400px;
        }
    }
}

.content-top {
    text-align: center;
    margin-bottom: 16px;
    margin-top: 16px;
    .title {
        color: var(--white);
        margin-bottom: 8px;
        font-size: 2rem;
        text-transform: capitalize;
    }

    .release,
    .artists,
    .like {
        color: #ffffff7a;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2rem;
    }
}

.content-top {
    @include max-mobile-max-pc-low {
        margin-top: 0;
        text-align: left;
    }

    @include mobile {
    }
}
.actions {
    .actions-btn {
        margin: auto;
        padding: 6px 12px;
        border-radius: 24px;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    .actions-level {
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        &__btn {
            background-color: var(--second-bg);
        }
    }
}

.actions {
    @include max-mobile-max-pc-low {
        display: flex;

        .actions-level {
            margin-top: 0 !important;
        }

        .actions-btn {
            margin: 0 8px 0 0 !important;
        }
    }
}

//right

.detail-right {
    .detail-right__info {
        font-size: 1.2rem;
        margin-top: 10px;
        display: flex;
        align-items: center;
        span {
            &:nth-child(2) {
                font-size: 0.6rem;
                margin: 0 6px;
            }
        }
    }
}
.detail-right {
    @include max-pc-low {
        margin-top: 32px;
        margin-left: 0;
    }
}
// artists

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
