@use "../../../scss/media-queries.scss" as *;
.detail {
    @include lt-lg {
        .media {
            display: flex;
            flex-direction: column;
        }

        .actions,
        .media-left {
            display: flex;
        }

        .media-left {
            width: 100%;
        }

        .media-right {
            margin-top: 32px;
            margin-left: 0;
        }

        .media-left__thumb {
            width: 200px;
            height: 200px;
            margin-right: 20px;
        }
        .content-top {
            margin-top: 0;
            text-align: left;
        }

        .actions-level {
            margin-top: 0 !important;
        }

        .actions-btn {
            margin: 0 8px 0 0 !important;
        }
    }
}

.media {
    margin-bottom: 32px;

    &-left {
        float: left;
        width: 300px;
        height: 100%;
    }

    &-right {
        margin-left: 330px;
    }
}
.media-left__thumb.isPlay {
    border-radius: 50%;
    overflow: hidden;
    animation: spinner 4s linear infinite;
}

.media-left__thumb.isPaused {
    transform: rotate(360deg);
}

.media-left__thumb {
    transition: all 0.2s;
}

.media-left__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-top {
    text-align: center;
    margin-bottom: 16px;
    margin-top: 16px;
    .title {
        margin-bottom: 8px;
        font-size: 2rem;
        text-transform: capitalize;
    }
    .release {
    }

    .artists {
    }

    .release,
    .artists,
    .like {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2rem;
    }
}
.actions {
    .actions-btn {
        margin: auto;
        padding: 6px 12px;
        border-radius: 24px;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    .actions-level {
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        &__btn {
            background-color: var(--second-bg);
        }
    }
}

//right {
.media-right__info {
    font-size: 1.2rem;
    margin-top: 10px;
    display: flex;
    align-items: center;
    span {
        &:nth-child(2) {
            font-size: 0.6rem;
            margin: 0 6px;
        }
    }
}

// artists

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
