@use "../../../scss/media-queries.scss" as *;

.menu-item.showFull {
    .menu-item__link {
        justify-content: flex-start;
        padding-left: 24px;
    }
    .menu-item__title {
        display: block;
    }
}

.menu-item {
    height: 46px;
    &__link {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-left: 24px;
        border-left: 3px solid transparent;
        transition: all 0.2s;
        color: var(--navigation-text);

        @include max-pc-low {
            justify-content: center;
            padding-left: 0;
        }
        @include mobile {
            justify-content: flex-start;
            padding-left: 24px;
        }
        &:hover {
            color: var(--link-text-hover);
        }
    }

    &__link.active {
        border-color: var(--purple-primary);
        background-color: var(--second-bg);
        color: var(--text-item-hover);
    }
    &__title {
        font-size: 1.4rem;
        text-transform: capitalize;
        font-weight: 600;
        @include max-pc-low {
            display: none;
        }

        @include mobile {
            display: block;
        }
    }
    &__icon {
        width: 40px;
        display: flex;
        justify-content: center;
        font-size: 2rem;
    }
}
