$screen-min-pc-high: 1024px;
$screen-min-pc-low: 960px;

$screen-max-mobile: 739px;
$screen-max-pc-low: 1023px;
// media lt queries

@mixin mobile {
    @media screen and (max-width: #{$screen-max-mobile} ) {
        @content;
    }
}

@mixin max-pc-low {
    @media screen and (max-width: #{$screen-max-pc-low}) {
        @content;
    }
}

@mixin min-pc-high {
    @media screen and (min-width: #{$screen-min-pc-high}) {
        @content;
    }
}

@mixin max-mobile-min-pc-low {
    @media screen and (min-width: #{$screen-max-mobile} ) and (max-width: #{$screen-min-pc-low}) {
        @content;
    }
}

@mixin max-mobile-max-pc-low {
    @media screen and (min-width: 740px ) and (max-width: #{$screen-max-pc-low}) {
        @content;
    }
}
