@use "../../../scss/media-queries.scss" as *;
.slider-container {
    position: relative;
    background-color: transparent;
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: 32px 0;
    @include sm {
        padding: 12px 0;
    }
}

.slider-item {
    padding: 0 15px;
    &__link {
        border-radius: 12px;
        overflow: hidden;
        display: block;
    }

    &__image {
        width: 100%;
        object-fit: cover;
    }
}

// button styles
.next::before,
.prev::before {
    font-size: 50px;
    line-height: 1;
    opacity: 0.75;
    color: var(--purple-primary);
    -webkit-font-smoothing: antialiased;
}

.prev,
.next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    width: 50px;
    display: block;
    height: 50px;
    padding: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.prev {
    left: -8px;
    &::before {
        content: "←";
    }
    z-index: 2;
}

.next {
    right: -10px;
    &::before {
        font-family: "slick";
        font-size: 50px;
        line-height: 1;
        opacity: 0.75;
        -webkit-font-smoothing: antialiased;
        content: "→";
    }
}
